name: Lint

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v6

      - name: Lint
        run: |
          npm ci
          npm run lint
